/* MOBILE TEST */

body {
    max-width: 100%;
    min-width: 34em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: rgb(240, 234, 228);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

h1, h2 {
    color: #e67f12;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    font-weight: 500;
}

h3 {
    color: #e67f12;
    margin: 0 auto;
    margin-left: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    font-weight: 500;
}

.steps-intro {
    margin-top: 30px;
}

img {
    size: 100%;
    display: block;
    margin: 0 auto;
    border: snow solid 10px;
}

a {
    display: block;
    margin: 0 auto;
    padding-left: 10px;
    padding-top: 10px;
}

a:hover {
    color: green;
    transition: 0.3s;
}

a:focus {
    color: red;
}

p {
    margin: 0 auto;
    padding: 5px 10px;
}

.hot {
    color: red;
    font-style: italic;
}

.container {
    border: solid rgb(138, 84, 4) 2px;
    background-color: rgb(224, 184, 138);
    margin-left: 10px;
    margin-right: 400px;
    padding-right: 10px;
    min-width: 34em;
}

.bottom {
    padding-top: 10px;
    text-align: center;
}

.homelinks {
    
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
}

.absolutelink {
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px; 
}

.stew {
    width: 400px;
    height: 500px;
}

